.heading {
  background-color: rgb(243, 243, 243);
  border-top: 1px solid rgb(153, 153, 153);
  border-bottom: 1px solid rgb(102, 101, 101);
  color: rgb(224, 153, 70);
  text-align: center;
}

.container {
  display: flex;
}

.flower-image {
  width: 700px;
  height: 700px;
  padding-right: 5px;
}

.flower-Info {
  padding-top: 400px;
}
