.heading {
  background-color: rgb(243, 243, 243);
  border-top: 1px solid rgb(153, 153, 153);
  border-bottom: 1px solid rgb(102, 101, 101);
  color: rgb(224, 153, 70);
  text-align: center;
}

.comment {
  font-weight: 300;
}

.name,
.date{
  width:230px
}

table{
  width: 100%;
}

td{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black ;
}