<html>

<head>
  <link rel="stylesheet" href="css/guestBook.css" />
</head>

<body>
  <h1 class="heading">
    <a href="index.html">
      <<</a> &nbsp; Guest &nbsp; Book </h1> <div>
        <h2>Leave a comment</h2>
        </div>
        <div>
          <form action="comment" method="POST">
            <label>Name: </label>
            <input type="text" name="name" required />
            <br />
            <label>Comment: </label>
            <textarea name="comment" cols="30" rows="5" required></textarea>
            <br />
            <br />
            <input type="submit" />
          </form>
        </div>
        <hr />
        <div>
          <table cellspacing=0px>
            <tr>
              <th class="name">NAME</th>
              <th class="date">DATE</th>
              <th class="comment">COMMENT</th>
            </tr>
            __comments__
          </table>
          <hr>
        </div>
</body>

</html>